.header__in-game {
    height: 5vh;
    padding: 0 16px;
    background-color: var(--color-for);
}
.header__in-game .category {
    width: 25vw;
    color: var(--color-text);
}
.header__in-game .type-category {
    width: 75vw;
    color: var(--color-text-sec);
}

.content__in-game {
    height: 75vh;
}

.word_x-area {
    height: 10vh;
}
.word_x-area h1 {
    color: var(--color-text);
}

.tips-area {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    height: 65vh;
    padding: 10px 60px;
    
}

.tip-item{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: var(--color-sec);
    margin: 0 auto 30px auto;
}
.tip-item h3 {
    color: var(--color-text);
}

.finish-round {
    height: 20vh;
    width: 100vw;
    padding: 0 40px;
}

.finish-button {
    padding: 10px 30px;
    background-color: var(--color-for);
}
.finish-button h2 {
    color: var(--color-text);
}

#modal-tip {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 10px 20px;
    background-color: var(--color-body);
}
.modal__content {
    width: 100%;
    height: 100%;
    gap: 35px;
}

.modal__content h2 {
    color: var(--color-text);
}

.modal-buttons {
    display: flex;
    gap: 32px;
}

#check, #close {
    color: var(--color-text);
    padding: 8px;
    border-radius: 8px;
    font-size: 30px;
}
#check {
    background-color: var(--color-check);
    box-shadow: 4px 4px 0 #00552c;
}
#close {
    background-color: var(--color-err);
    box-shadow: 4px 4px 0 #680000;
}

#check:hover, #close:hover {
    transform: scale(0.9);
    transition: 150ms ease-out;
}

/* !! MODAL POINTS */
.modal-point{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-body);
}
.header__points {
    height: 20vh;
}
.congrats-img i{
    color: var(--color-trd);
    font-size: 7rem;
    animation: shake infinite alternate 1s ease-in-out;
}
.points-area {
    height: 60vh;
    display: flex;
}
.players {
    width: 50vw;
    padding: 0 40px;
}
.header__player {
    height: 10vh;
    font-size: 2.3rem;
    font-weight: bold;
    color: var(--color-text);
}
.points-value {
    height: 20vh;
    font-size: 6.4rem;
    font-weight: bold;
    color: var(--color-text);
    font-family: var(--font-sec);
    letter-spacing: 3px;
}
.footer__player {
    height: 10vh;
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-trd);
}
.footer__points {
    height: 20vh;
}
.button__continue {
    padding: 10px 30px;
    background-color: var(--color-for);
}
.button__continue h2 {
    color: var(--color-text);
}

@keyframes shake {
    60% { rotate: 15deg;}
    90% { rotate: -15deg;}
    100% { rotate: 0deg;}
}
/* !! END MODAL POINTS */