@media screen and (max-width:1050px) {
    body {
        flex-direction: column;
    }

    .game-initial-page {
        width: 100vw;
        min-height: 50vh;
    }

    .points-area {
        flex-direction: column;
    }
    .header__player {
        height: 5vh;
        font-size: 1.5rem;
    }
    .players {
        width: 100vw;
        min-height: 30vh;
        padding: 0 40px;
    }
    .points-value {
        height: 15vh;
        font-size: 4rem;
    }
    .footer__player {
        height: 5vh;
        font-size: 1.4rem;
    }
}

@media screen and (max-width:560px) {
    .logo h1{
        font-size: 6rem;
    }
    .logo:nth-child(2) h1{
        font-size: 8rem;
    }
    .tip-item{
        width: 60px;
        height: 60px;
    }
    .tips-area {
        padding: 10px 30px;
    }
    .word_x-area h1 {
        font-size: 25px;
    }
}

@media screen and (max-width:420px) {
    .logo h1{
        font-size: 5.4rem;
    }
    .slogan {
        font-size: 0.9rem;
    }
    .container-instructions {
        overflow-y: scroll;
    }
}